.navbar {
    background-color: #22313F;
    color: #6C6F7D;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    padding-left: 10rem;
    padding-top: 4rem;
  }

  h2 {
    color: #dcdfe8;
  }

  p {
    color: #8b8e9c;
  }

  .line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .save-button {
	background: none;
	color: #699969;
	border: none;
	padding-right: 3rem;
    padding-bottom: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 1.5rem;
  }

    .saved-title {
        display: flex;
        padding-top: 3rem;
        justify-content: center;
        padding-left: 0;
    }

    .delete-button {
        background: none;
        color: #996969;
        border: none;
        padding-right: 3rem;
        padding-bottom: 1rem;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 1.5rem;
    }

